@model AzureBuildsBrowser.Models.BuildModel
@{
    ViewData["Title"] = "Tags";
}
<h3>Tags</h3>

<div>
    @foreach (var m in Model.Tags)
    {
        <div>
            <a href="/t/@m">@m</a>
        </div>
    }
</div>
